body {
    font-size: 30px;
}


.book-item {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: 1px solid black;
}

.book-item button {
    flex: 1;
    font-size: inherit;
}

.book-item .close-btn {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 500px 0px 500px;
    border: 1px solid black;
    height: 50vh;
}

.top-container {
    display: flex;
    width: 100%;
    flex: 1;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.input-container input {
    font-size: 30px;
    flex: 1;
}

.read-container {
    display: flex;
    align-items: center;
}

.read-container label{
    margin-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container button {
    flex: 1;
    font-size: inherit;
}